{% load static %}
<footer class="bg-white rounded shadow p-3 mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-6 text-center text-lg-start mb-3 mb-lg-0">
            <p class="mb-0 text-muted">© 2025 National Lotteries and Gaming Regulatory Board. All rights reserved.</p>
        </div>
        <div class="col-12 col-md-6 text-center text-lg-end">
            <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="#" class="text-muted">About</a>
                </li>
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="#" class="text-muted">Support</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
